/obj/rider.project.model.nuget.info
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/DesignPattern.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/DesignPattern.csproj.FileListAbsolute.txt
/bin/Debug/net7.0/DesignPattern.deps.json
/bin/Debug/net7.0/DesignPattern.dll
/obj/Debug/net7.0/ref/DesignPattern.dll
/obj/Debug/net7.0/refint/DesignPattern.dll
/obj/Debug/net7.0/DesignPattern.dll
/bin/Debug/net7.0/DesignPattern.exe
/obj/Debug/net7.0/DesignPattern.genruntimeconfig.cache
/bin/Debug/net7.0/DesignPattern.pdb
/obj/Debug/net7.0/DesignPattern.pdb
/bin/Debug/net7.0/DesignPattern.runtimeconfig.json
